<!--> 
<p>{{form.value.nome}}</p>
<p>{{form.value.idade}}</p>
<p>{{form.value.cidade}}</p>
</!-->

<form [formGroup]="form">

  @if(form.get('nome').hasError('required') && form.get('nome').touched) {
    <p class="alert alert-warning">Nome: Campo obrigatório</p>
  }
  @if(form.get('nome').hasError('minlength') && form.get('nome').touched) {
    <p class="alert alert-warning">Nome: Mínimo 3 caracteres</p>
  }
  @if(form.get('nome').hasError('maxlength') && form.get('nome').touched) {
    <p class="alert alert-warning">Nome: Máximo 255 caracteres</p>
  }
  <input type="text" formControlName="nome" placeholder="Nome" class="form-control">

  @if(form.get('idade').hasError('max') && form.get('idade').touched) {
    <p class="alert alert-warning">Idade: Máximo 120 anos</p>
  }
  @if(form.get('idade').hasError('min') && form.get('idade').touched) {
    <p class="alert alert-warning">Idade: Mínimo 12 anos</p>
  }
  @if(form.get('idade').hasError('required') && form.get('idade').touched) {
    <p class="alert alert-warning">Idade: Campo Obrigatório</p>
  }
  <input type="number" formControlName="idade" placeholder="Idade" class="form-control">

  @if(form.get('cidade').hasError('required') && form.get('cidade').touched) {
    <p class="alert alert-warning">Cidade: Campo obrigatório</p>
  }
  @if(form.get('cidade').hasError('minlength') && form.get('cidade').touched) {
    <p class="alert alert-warning">Cidade: Mínimo 3 caracteres</p>
  }
  @if(form.get('cidade').hasError('maxlength') && form.get('cidade').touched) {
    <p class="alert alert-warning">Cidade: Máximo 255 caracteres</p>
  }
  <input type="text" formControlName="cidade" placeholder="Cidade" class="form-control">


  @if(btnCadastrar){
    <input type="button" value="Cadastrar" class="btn btn-primary" id="first-button" (click)="cadastrarCliente()" [disabled]="!form.valid">
  } @else {

    <input type="button" value="Alterar" class="btn btn-primary">
    <input type="button" value="Remover" class="btn btn-primary">
    <input type="button" value="Cancelar" class="btn btn-primary">
  }

  <!--->>
  @for (i of pessoas;track i.nome){
    <ul>
      <li>
        <p>{{i.nome}}</p>
      </li>
      <li>
        <p>{{i.idade}}</p>
      </li>
      <li>
        <p>{{i.cidade}}</p>
      </li>
    </ul>
  }
  <--> 
  
</form>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th> 
      <th>Idade</th>
      <th>Cidade</th>
      <th>Selecionar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of pessoas; index as indice">
      <td>{{indice + 1}}</td>
      <td>{{i.nome}}</td>
      <td>{{i.idade}}</td>
      <td>{{i.cidade}}</td>
      <td><button class="btn btn-primary" (click)="selecionarCliente(indice)">Selecionar</button></td>
    </tr>
  </tbody>
</table>

